<header class='search-header'>
  <div class='back-btn-content'>
    <%= link_to '<Back', "/", class:"back-btn" %>
  </div>
  <div class='search-form2'>
    <%= form_with(url: search_memories_path, local: true, method: :get, class: "search-container2") do |form| %>
      <%= form.text_field :keyword, placeholder: "search", class: "search-input2" %>
      <%= button_tag type: "submit", class: "btn btn-default btn-s-md2" do %>
        <i class="fa fa-search"></i>
      <% end %>
    <% end %>
  </div>
</header>

<div class="search-contents">
  <div class='search-lists'>
  <% @memories.each do |memory| %>
  <div class='search-my-posts'>
    <div class='search-date-content'>
      <h3 class='search-date'>
        <%= memory.start_date %> ~ <%= memory.end_date %>
      </h3>
    </div>
    <div class='search-country-content'>
      <h3 class='search-country'>
        <%= memory.country.name %>
      </h3>
    </div>
    <div class='search-place-content'>
      <h3 class='search-place'>
        <%= memory.place %>
      </h3>
    </div>
    <div class='search-nickname-content'>
      <h3 class='search-nickname'>
        <%= memory.user.nickname %>
      </h3>
    </div>
    <div class='search-title-content'>
      <h2 class='search-title'>
        <%= memory.title %>
      </h2>
    </div>
    <div class='search-text-content'>
      <h3 class='search-text'>
        <%= memory.text %>
      </h3>
    </div>
    <div class='search-img-content'>
      <%= image_tag memory.image.variant(resize: '700x500'), class: "search-img" %>
    </div>
    <% if current_user.already_liked?(memory) %>
      <%= link_to memory_likes_path(memory), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to memory_likes_path(memory), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <%= memory.likes.count %>
    <% if user_signed_in? && current_user.id == memory.user_id %>
      <%= link_to(content_tag(:i, nil, class: "fas fa-edit"), edit_memory_path(memory.id), method: :get, class: "edit-btn") %>
      <%= link_to(content_tag(:i, nil, class: "fas fa-trash-alt"), memory_path(memory.id), method: :delete, class: "delete-btn") %>
    <% end %>
  </div>
  <% end %>
  </div>
</div>