<header class='plans-header'>
  <div class='back-btn-content'>
    <%= link_to '<Back', user_path(id: current_user.id), class:"back-btn" %>
  </div>
  <div class='header-plans-title'>
    <h1>My Plans</h1>
  </div>
  <div class='chat-content'>
    <%= link_to '', "#", class:"chat-btn" %>
  </div>
</header>

<div class='mypage-main'>
  <div class='plan-contents'>
    <ul class='plan-lists'>
      <% @plans.each do |plan| %>
        <li class='list'>
        <%= link_to user_plan_path(id: plan.id), method: :get do %>
          <div class='plan-place-content'>
            <h3 class='plan-place'>
              <%= plan.place %>
            </h3>
          </div>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to new_user_plan_path, class: 'plans-post-btn' do %>
  <span class='plans-post-btn-text'>+</span>
<% end %>